.header-container {
    width: 100%;
    height: 70px;
    background-color: #e0e0e0;
}

.header-container > .header-content {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    height: inherit;
    position: relative;
}

.header-container > .header-content > .icon-container {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}

.header-container > .header-content > .icon-container .icon {
    width: 40px;
    height: 40px;
}

.header-content .title {
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 3em;
}

.header-container > .header-content > .navigation {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    background-color: #fff;
    height: 40px;
}

.header-container > .header-content > .navigation .menu {
    display: none;
}

.header-container > .header-content > .navigation > .list {
    display: inline-block;
    padding: 10px 15px;
}

.header-container > .header-content .item {
	display: inline-block;
    padding: 0 20px;
    border-right: 2px solid #e0e0e0;
    line-height: 20px;
}

.header-container > .header-content .item.-last {
    padding-right: 0;
    border-right: none;
}

.header-container > .header-content .item.-first {
    padding-left: 0;
}

.header-container > .header-content .action {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.header-container > .header-content .action:after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 200ms linear;
    transform-origin: center left;
}

.header-container > .header-content .action:hover:after {
    transform: scale(1);
}

.header-menu {
    display: none;
}

.header-menu .action {
    text-decoration: none;
    color: inherit;
    position: relative;
    padding-right: 10px;
}

@media (max-width: 1150px) {
    .header-container > .header-content {
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media (max-width: 770px) {
    .header-content .title {
        margin-left: 0;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }

    .header-container > .header-content > .navigation .menu,
    .header-menu > .navigation .menu {
		display: block;
		box-sizing: border-box;
		width: 40px;
		height: 40px;
		text-indent: -9999px;
		margin: 0;
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;

		transform: translateX(-100%);
		transition: transform 400ms 100ms linear;
    }

    .header-menu > .navigation .menu {
        transform: translateY(15px);
        left: 5px;
    }

    .header-container > .header-content .list,
    .header-menu .list {
		background-color: #333;
		color: #d2d2d2;
		width: 30%;
		padding: 40px 0 20px;
        position: absolute;
        z-index: 1000;
		top: 0;
        right: 0;
        text-align: right;
        height: 200vW;
        padding-top: 70px;

		transform: translateX(100%);
		transition: transform 300ms linear;
    }

    .header-menu > .navigation .list.-active {
        transform: translateX(0);
	}

	.header-menu .item {
        display: block;
        padding-top: 10px;
        height: 28px;
    }

    .header-menu .item:hover {
        background-color: #d2d2d2;
		color: #333;
    }
    
    .header-menu {
        display: block;
    }
    
}

@media (max-width: 445px) {
    .header-menu .list {
		width: 80%;
    }
}