.extract-content {
    width: 70%;
    overflow: hidden;
    height: inherit;
    position: relative;
    padding-left: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    text-align: center;

    > .title {
        text-align: center;
        font-weight: bold;
        margin-bottom: 13px;
    }

    > .table-extract  {
        border-collapse: collapse;
        width: 100%;
        font-size: 13px;

        .title {
            font-weight: bold;
            border-bottom: 2px solid #e0e0e0;
        }

        th, td {
            padding: 8px 25px 8px 40px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .-value {
            text-align: right;
        }

        .total {
            border-top: 4px solid #ddd;
            font-weight: bold;
        }

        .total th {
            border: none;
        }

        tr:hover:not(.title):not(.total) {
            background-color:#f5f5f5;
        }

        .icon {
            position: absolute;
            transform: translateX(-18px);
        }

        .extract-info {
            display: block;
            font-weight: normal;
        }

        tbody, thead, tfoot {
            display: block;
        }
    
        tbody {
            max-height: 250px;
            overflow-x: hidden;
            position: relative;
        }
    
        thead tr, tbody tr, tfoot tr {
            width: 100%;
            display: inline-table;
        }
    
        thead th, tbody th, tfoot th {
            width: 50%;
        }
    }
}

@media (max-width: 770px) {
    .extract-content {
        width: 100%;
        padding-left: 0;
        padding-top: 20px;
    }
}