<div class="extract-content">
    <h2 class="title">Extrato de transações</h2>
    <table class="table-extract">
        <tr class="title">
            <th>Mercadoria</th>
            <th class="-last">Valor</th>
        </tr>
        <tr *ngFor="let merchandise of merchandiseList; let i = index">
            <th>
                <span *ngIf="merchandise.transactionType == 1" class="icon">+</span>
                <span *ngIf="merchandise.transactionType == 2" class="icon">-</span>
                {{merchandise.name}}
            </th>
            <th class="-last">R$ {{merchandise.value}}</th>
        </tr>
        <tr class="total">
            <th>Total</th>
            <th class="-last">
                R$
                <span class="extract-info">({{info}})</span>
            </th>
        </tr>
    </table>
</div>