.extract-content {
    width: 69.6%;
    // float: left;
    overflow: hidden;
    height: inherit;
    position: relative;
    padding-left: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    text-align: center;
}

.extract-content > .title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 13px;
}

.extract-content > .table-extract .title {
    font-weight: bold;
    border-bottom: 2px solid #e0e0e0;
}

.extract-content table {
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
}

.extract-content th, td {
    padding: 8px 25px 8px 40px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.extract-content .-last {
    text-align: right;
}

.extract-content > .table-extract .total {
    border-top: 4px solid #ddd;
    font-weight: bold;
}

.extract-content > .table-extract .total th {
    border: none;
}

tr:hover:not(.title):not(.total) {
    background-color:#f5f5f5;
}

.extract-content > .table-extract .icon {
    position: absolute;
    left: 43px;
}

.extract-content > .table-total .extract-info {
    display: block;
    font-weight: normal;
}