// .transaction-container {
//     // width: 100%;
//     background-color: #fff;
//     overflow: hidden;
//     display: inline;
// }

.transaction-content {
    width: 30%;
    float: left;
    overflow: hidden;
    height: inherit;
    position: relative;
    border: 2px solid #e0e0e0;
    padding: 20px 0 10px;
}

.transaction-content > .title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.transaction-content > .transaction-form {
    margin: 10px;
    font-size: 13px;
}

.transaction-content > .transaction-form > .from-group {
    width: 100%;
}

.transaction-content > .transaction-form .from-group > .control{
    width: inherit;
    margin: 8px 0 17px;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    color: #949494;
    height: 28px;
    padding: 0 8px;
    box-sizing: border-box;
    outline: none;
}

.transaction-content > .transaction-form .from-group select {
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.transaction-content > .transaction-form .from-group > .control.-select{
    background: #fff url("/assets/img/select.png") no-repeat 97% 50%;
    background-size: 17px;
}

.transaction-content > .transaction-form .from-group > .control.-last{
    margin-bottom: 15px;
}

.transaction-content > .transaction-form .from-group > .control.-button{
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
    margin-bottom: 0;
    cursor: pointer;
    transition: all 300ms linear;
}

.transaction-content > .transaction-form .from-group > .control.-button:active {
    transform: scale(0.9);
}