.transaction-content {
    width: 30%;
    float: left;
    overflow: hidden;
    height: inherit;
    position: relative;
    border: 2px solid #e0e0e0;
    padding: 20px 0 10px;
    box-sizing: border-box;
}

.transaction-content > .title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.transaction-content > .transaction-form {
    margin: 10px;
    font-size: 13px;
}

.transaction-content > .transaction-form > .from-group {
    width: 100%;
    box-sizing: border-box;
}
.transaction-content > .transaction-form > .from-group ::placeholder {
    color: #949494;
}

.transaction-content > .transaction-form .from-group > .control{
    width: 100%;
    margin: 8px 0 17px;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    color: #949494;
    height: 28px;
    padding: 0 8px;
    box-sizing: border-box;
    outline: none;
}

.transaction-content > .transaction-form .from-group select {
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.transaction-content > .transaction-form .from-group.select {
    position: relative;
    display: inline-block;
}

.transaction-content > .transaction-form .from-group > .arrow {
    width: 25px;
    height: 24px;
    position: absolute;
    display: inline-block;
    top: 23px;
    right: 2px;
    background: url('/assets/img/select.png') no-repeat scroll right center / 90% #FFF;
    pointer-events: none;
    border-radius: 2px;
}

.transaction-content > .transaction-form .from-group > .control.-last{
    margin-bottom: 15px;
}

.transaction-content > .transaction-form .from-group > .control.-button{
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
    margin-bottom: 0;
    cursor: pointer;
    transition: all 300ms linear;
}

.transaction-content > .transaction-form .from-group > .control.-button:active {
    transform: scale(0.9);
}

.transaction-content > .transaction-form .from-group > .control.-button.disabled {
    opacity: 0.65;
    cursor: not-allowed;
    transform: none;
}

@media (max-width: 770px) {
    .transaction-content {
        width: 100%;
    }

    .transaction-content > .transaction-form > .from-group {
        width: 25%;
        display: inline-block;
    }

    .transaction-content > .transaction-form > .from-group:nth-of-type(2) {
        width: 50%;
    }

    .transaction-content > .transaction-form > .from-group:not(.select) {
        padding-left: 20px;
    }

    .transaction-content > .transaction-form > .from-group.form-button {
        width: 15em;
        float: right;
        transform: translateY(-5px);
    }
}

@media (max-width: 445px) {
    .transaction-content {
        border: none;
        border-bottom: 1px solid #e0e0e0;
        padding: 20px 0 22px;
    }

    .transaction-content > .transaction-form > .from-group {
        width: 100%;
    }
    
    .transaction-content > .transaction-form > .from-group:not(.select) {
        width: 100%;
        padding-left: 0px;
    }
}